<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>
      Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">

  <ion-slides *ngIf="dataLocalService.noticias.length === 0"
              [options]="sliderOpts">
    <ion-slide>
      <ion-label>No Hay Favoritos</ion-label>
    </ion-slide>
  </ion-slides>

  <!-- <div *ngIf="dataLocalService.noticias.length === 0">
    No Hay Favoritos
  </div> -->

  <app-noticias [noticias]="dataLocalService.noticias" 
                *ngIf="dataLocalService.noticias.length >0" 
                  [enFavoritos]="true"> ></app-noticias>

</ion-content>
